@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-light: #ccd6f6;
  --text-gray: #9ea8cb;
  --purple-medium: rgba(95, 101, 216, 0.7);
  --purple-bright: rgb(119 126 252);
  --purple-light: rgba(75, 82, 214, 0.5);
  --text-highlight: rgba(183, 120, 255, 0.89);
  --font-biryani-regular: "Biryani-Regular", sans-serif;
  --font-averiaseriflibre-bold: "AveriaSerifLibre-Bold";
}

@font-face {
  font-family: "Biryani-Regular";
  src: url("../public/fonts/Biryani-Regular.ttf");
}
@font-face {
  font-family: "AveriaSerifLibre-Bold";
  src: url("../public/fonts/AveriaSerifLibre-Bold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-biryani-regular);
  color: var(--text-gray);
  background: #07172f;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--text-light);
  font-family: var(--font-averiaseriflibre-bold);
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: var(--purple-bright);
}

main {
  padding: 0 0 0 128px;
}

p {
  margin-bottom: 1rem;
}

.container {
  padding: 1rem 2rem;
  height: 100vh;
  width: 100%;
}

.heading-xl {
  font-size: clamp(40px, 8vw, 80px);
  margin: 0;
}

.heading-sm {
  font-size: clamp(40px, 8vw, 80px);
}

.btn-contact {
  border: 2px solid var(--purple-bright);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.btn-contact:hover {
  background-color: var(--purple-light);
  border: 2px solid transparent;
}
.skewpart {
  z-index: -1;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 80vh solid transparent;
  border-right: 60vw solid var(--purple-light);
}
.text-highlight {
  color: var(--purple-bright);
}
