.link {
  color: var(--pastel-yellow);
}

.link:hover {
  text-decoration: underline;
}

.content {
  background-color: var(--purple-light);
}

.btn {
  padding: 15px 20px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.1rem;
  text-align: right;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.btn:hover,
.active {
  position: relative;
  background-color: var(--purple-light);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid var(--purple-bright-transparent);
}

@media screen and (min-width: 1024px) {
  .active::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -38%;
    width: 38%;
    border-top: 1px solid var(--purple-bright-transparent);
  }

  .btn {
    border-right: 1px solid var(--purple-bright-transparent);
    border: solid var(--purple-bright-transparent);
    border-width: 0 1px 0 0;
  }

  .btn:hover,
  .active {
    border-bottom: none;
  }
}